<div class="show-for-small  ">
	<nav id="menu" role="navigation" class-"show-for-small">
		 <div class="docs section-container accordion" data-section data-options="one_up: false" >
		  
		  <section class="section">
		    <p class="title"><a href="javascript:document.getElementById('step1').style.display='none';document.getElementById('step2').style.display='none';document.getElementById('step3').style.display='none';document.getElementById('controlPanel').style.display='block';"><i class="foundicon-website" style="position:relative;top:2px;"></i>&nbsp;&nbsp;<b>Painel de Controle</b></a></p>
		  </section>
		  <section class="section active">
		    <p class="title"><a href="#"><i class="foundicon-home" style="position:relative;top:2px;"></i>&nbsp;&nbsp;<b>Meus Imóveis</b></a></p>
		    <div class="content">
		      <ul class="side-nav" style="border-top:0px;line-height:0.5;">
		        <li><a class="" href="#" style="color:#434343;">Minha Casa</a></li>
		        <li><a class="" href="#" style="color:#434343;">Casa da Gi</a></li>
		        <li><a class="" href="#" style="color:#434343;">Kit do Leo</a></li>
		        <li><a class="" href="#" style="color:#434343;">Apê do Lebron</a></li>
		        <li><a class="" href="#" style="color:#434343;">Morumbi</a></li>
		      </ul>
		    </div>
		  </section>
		  <section class="section ">
		    <p class="title"><a href="#"><i class="foundicon-compass" style="position:relative;top:2px;"></i>&nbsp;&nbsp;<b>Dados de Mercado</b></a></p>
		  </section>
		  <section class="section ">
		    <p class="title"><a href="#"><i class="foundicon-idea" style="position:relative;top:2px;"></i>&nbsp;&nbsp;<b>Alertas</b></a></p>
		  </section>
		   <section class="section ">
		    <p class="title"><a href="#"><i class="foundicon-graph" style="position:relative;top:2px;"></i>&nbsp;&nbsp;<b>Simuladores</b></a></p>
		    <div class="content">
		      <ul class="side-nav" style="border-top:0px;line-height:0.5;">
		        <li><a class="" href="#" style="color:#434343;">Financiamento</a></li>
		        <li><a class="" href="#" style="color:#434343;">Seguro</a></li>
		        <li><a class="" href="#" style="color:#434343;">Aluguel</a></li>
		      </ul>
		    </div>
		  </section>
		  <section class="section ">
		    <p class="title"><a href="#"><i class="foundicon-page" style="position:relative;top:2px;"></i>&nbsp;&nbsp;<b>FAQ</b></a></p>
		  </section>
		  <section class="section ">
		    <p class="title"><a href="#"><b>Ajuda</b></a></p>
		  </section>
		 <p class="title"><a href="#menu" class="menu-link" style="position:relative;color:#fff;font-weight:bold;top:-5px;">Fechar</a></p>
		</div>
	</nav>
</div>