 <div id="myModal" class="reveal-modal">
  <h2>Selecione no mapa ou entre com o CEP do endereço</h2>
  <div class="panel">
  	<div class="row">
  		<div class="large-4 columns">
  			<input name="" type="text" placeholder="Digite o seu CEP. Exemplo: 70345-345" />
  		</div>
  		<div class="large-8 columns" style="margin-top:7px;">
  			<label>ou clique no mapa abaixo <i class="foundicon-down-arrow" style="position:relative;top:2px;"></i>  para selecionar a região do seu imóvel.</label>
  		</div>
  	</div>
  	<div class="row">
  		<div class="large-12 columns">
  			<img src="{{ MEDIA_URL }}/media/meus_imoveis/images/mapExample.png" />
  			<!-- <div id="map-canvas" style="height:300px;">
  			</div> -->
  		</div>
  	</div>

  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>