<div id="step3" style="display:none;">
	
	 <div class="row" style="position:relative;">
		<div class="large-8 columns left">
			<h1>Suas Metas e Objetivos</h1>
		</div>
		<div class="large-4 columns" style="margin-top:37px;">
			<span class="label right">Passo 3 de 3</span> 
		</div>
    </div>

    
    <hr style="	margin-top:-20px;">
		

		
		<form class="custom">
		
		<div class="row">
			<div class="large-12 columns">
				
			</div>
		
		</div>
		<br>
		<div class="radius panel" >
			
			<div class="row" style="margin-bottom:-30px;">
				<div class="large-6 columns">
					<h5>Qual a margem de lucro você gostaria de alcançar com esse imóvel?</h5>
					<input  type="text" style="width:90px;" placeholder="Ex.: - 32%" />
				</div>
	    		
				<div class="large-6 columns">
					<h5>Qual o percentual máximo de perda (ou desvalorização) aceitável?</h5>
	    			<input  type="text" style="width:90px;" placeholder="Ex.: - 32%" />
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="large-12 columns">
					<h4> O que você gostaria de saber sobre seu imóvel? </h4>
				</div>
			</div>
			<div class="row">
	  			 <div class="large-12 columns">
			    	<label for="checkbox4"><input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span> Valorização Semanal</label>
			    </div>
			</div>

			<div class="row">
	  							
				 <div class="large-12 columns">
			    	<label for="checkbox4"><input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span> Quanto, em reais, já ganhei ou perdi com esse imóvel</label>
			    </div>
			  
			</div>

			<div class="row">
	  							
				 <div class="large-12 columns">
			    	<label for="checkbox4"><input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span> Valores de aluguel</label>
			    </div>
			  
			</div>

			<div class="row">
	  							
				 <div class="large-12 columns">
			    	<label for="checkbox4"><input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span> Se, financeiramente, é melhor vender ou alugar</label>
			    </div>
			  
			</div>

			<div class="row">
	  							
				 <div class="large-12 columns">
			    	<label for="checkbox4"><input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span> Alertas sobre a movimentação do mercado</label>
			    </div>
			  
			</div>

			<hr>
			<h4> E o que mais? </h4>
			<div class="row">
	  			<div class="large-12 columns">
			    	 <textarea placeholder="Deixe suas sugestões aqui"></textarea>
			    </div>
			  
			</div>

		</div>
		
		<button class="radius button center"><a href="javascript:document.getElementById('step1').style.display='block';document.getElementById('step2').style.display='none';document.getElementById('step3').style.display='none';" style="color:#fff;">Finalizar</a></button> &nbsp; <button class="radius button secondary center">Cancelar</button> &nbsp;
		</form>
	</div>