<div id="step1" style="display:none;">

		<div class="row" style="position:relative;">
		<div class="large-8 columns left">
			<h1>Cadastre seus Imóveis</h1>
		</div>
		<div class="large-4 columns" style="margin-top:37px;">
			<span class="label right">Passo 1 de 2</span> 
		</div>
    </div>

    
    <hr style="	margin-top:-20px;">
    
	<form class="custom">
		<span>Onde fica seu imóvel?</span>	<br><br>
		<div class="row">
			<div class="large-5 columns">
				<button href="#" class="button secondary radius-border-button" data-reveal-id="myModal"><i class="foundicon-location" style="position:relative;top:1px;"></i>&nbsp; Clique aqui para localizar</button>
			</div>
		
			<div class="large-7 columns left">
				<span style="position:relative;color:#434343;top:14px;">
				<label>Endereço Selecionado: <b>SHIGS 706 Bloco D Casa 20, Asa sul, Brasília</b></label></span></div>
		</div>

		<br>
		<div class="radius panel" >

				<div class="row">
	  			<div class="large-12" style="line-height:20px;">
	  				<div class="large-12 columns">
	  					<label>Dê um nome para identificar esse imóvel:</label>
		    			 <input name="" type="text" placeholder="Ex: Casa do Morumbi, Apê do Leblon, Minha Casa, Kit do Paulinho" />
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="large-3 columns"> 
					  <label style="padding-bottom:5px;">Tipo:</label>
					  <select id="customDropdown1">
					    <option>Apartamento</option>
					    <option>Casa</option>
					    <option>Kitinete</option>
					    <option>Sala Comercial</option>
					    <option>Lote</option>
					</select>
				</div>
				<div class="large-3 columns"> 
					<label style="padding-bottom:5px;">Quantos quartos?</label>
					  <select id="customDropdown2">
					    <option>Quartos</option>
					    <option>1</option>
					    <option>2</option>
					    <option>3</option>
					    <option>4</option>
					    <option>5</option>
					    <option>6 ou mais</option>
					  </select>
				</div>
				<div class="large-3 columns"> 
					<label style="padding-bottom:5px;">Alguma suíte?</label>
					  <select id="customDropdown3">
					    <option>Suítes</option>
					    <option>1</option>
					    <option>2</option>
					    <option>3</option>
					    <option>4</option>
					    <option>5</option>
					    <option>6 ou mais</option>
					  </select>
				</div>
				<div class="large-3 columns"> 
					<label style="padding-bottom:5px;">E banheiros?</label>
					  <select id="customDropdown4">
					    <option>Banheiros</option>
					    <option>1</option>
					    <option>2</option>
					    <option>3</option>
					    <option>4</option>
					    <option>5</option>
					    <option>6 ou mais</option>
					  </select>
				</div>
			</div>

			<br>
			
			<div class="row">
				 <div class="large-3 columns">
			    	<label for="checkbox4"><input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span> Área de Serviço</label>
			   
			    	<label for="checkbox1"><input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span> Garagem</label>
			   
			    	<label for="checkbox2"><input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span> Área de Lazer</label>
			    
			    	<label for="checkbox3"><input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span> Nascente</label>
			    </div>
			    
			</div>
		</div>
		
		<a href="javascript:document.getElementById('step1').style.display='none';document.getElementById('step2').style.display='block';document.getElementById('controlPanel').style.display='none';" style="color:#fff;" class="radius button center">Próximo Passo &rarr;</a> &nbsp; <button class="radius button secondary center" >Cancelars</button> &nbsp;
		</form>
	</div>