<div id="controlPanel" 	style="display:block;">

	<div class="row">
      <div class="large-12 columns">
        <h1>Painel de Controle  </h1> 
       
      </div>
    </div>
	
	<br>	

	<div class="row">
			<div class="large-12 columns">
	  		<div class="section-container tabs" data-section="tabs">
			  <section>
			    <p class="title" data-section-title><a href="#">Rendimento dos Imóveis</a></p>
			    <div class="content" data-section-content>
			      
			      <div class="row">
						<div class="large-12 columns">

			    	<div class="row">
			  			<div class="large-12 columns">
			  				<h5 class="subheader">Nessa seção você verá o rendimento total dos seus imóveis, levando em consideração a valorização e os valores de aluguel da região.</h5>
			  				<hr style="margin-top:0px;">
			  			</div>
			  		</div>
	  				
	  				<br>

  					<div class="row">
		  				<div class="large-6 columns">
		  					<div class="radius panel alert" style="left:-15px;top:5px;text-aling:justify;line-height:22pt;background:#fcfaf1;">
			  					<div class="row">
			  						<div class="large-12 columns">
			  							Rendimento anual:
				  						
				  						<h3 style="color:#1c8d22;"><i class="foundicon-up-arrow" style="position:relative;top:2px;"></i> 8%</h4>
				  						<h5>&rarr;&nbsp;&nbsp;7% valorização do imóvel<br><br>
				  							&rarr;&nbsp;&nbsp;5% aluguel</h5>
				  					</div>
				  				</div>
				  				<hr>
				  				<div class="row">
			  						<div class="large-12 columns">
			  							

			  							<div class="row">
				  							<div class="large-7 columns">
				  								Rendimento mensal:
				  							</div>
				  							<div class="large-5 columns" style="margin-top:-2px;">
				  								<form class="custom">
				  								 <select id="customDropdown1">
												    <option>Abr 2013</option>
												    <option>Mar 2013</option>
												    <option>Fev 2013</option>
												    <option>Jan 2013</option>
												    <option>Dez 2012</option>
												    <option>Nov 2012</option>
												    <option>Out 2012</option>
												</select>
												</form>
				  							</div>
				  						</div>
				  						<div class="row">
				  							<div class="large-5 columns">
				  								<h3 style="color:#c43e3e;"><i class="foundicon-down-arrow" style="position:relative;top:2px;"></i> 0,4%</h3>
				  							</div>
				  						</div>
				  						
				  						<h5>&rarr;&nbsp;&nbsp;7% valorização do imóvel<br><br>
				  							&rarr;&nbsp;&nbsp;5% aluguel</h5>
				  					</div>
				  				</div>
				  				
		  					</div>
		  				</div>
		  			
		  				<div class="large-6	 columns">
	  						<label>Comparação com outros investimentos do mercado:</label>
	  						<br>
		  					<table>
							  <thead>
							    <tr>
							      <th width="200">Tipo</th>
							      <th width="150">Rendimento</th>
							      <th width="150">Volatilidade</th>
							    </tr>
							  </thead>
							  <tbody>
							  	<tr>
							      <td>Renda Fixa</td>
							      <td>16%</td>
							      <td>Média</td>
							    </tr>
							    <tr style="background:#cfeef5;">
							      <td>Seus Imóveis</td>
							      <td>14%</td>
							      <td>Baixa</td>
							    </tr>
							    <tr>
							      <td>Dólar</td>
							      <td>7%</td>
							      <td>Alta</td>
							    </tr>
							    <tr>
							      <td>Bovespa</td>
							      <td>8%</td>
							      <td>Alta</td>
							    </tr>
							  </tbody>
							</table>
		  				</div>
					</div>

					</div>
				</div>
			    </div>
			  </section>
			  <section>
			    <p class="title" data-section-title><a href="#">Valores dos Imóveis</a></p>
			    <div class="content" data-section-content>
			      
			    		<div class="row">
				  			<div class="large-12 columns">
				  				<h5 class="subheader">Aqui você poderá acompanhar a evolução do valor estimado dos seus imóveis e qual é o retorno, em reais, desses imóveis.</h5>
				  				<hr style="margin-top:0px;">
				  			</div>
				  		</div>

			    		<div class="row">
			  				<div class="large-12 columns">
		  						<table>
								  <thead>
								    <tr>
								      <th width="200">Imóvel</th>
								      <th width="150">Valor Atual</th>
								      <th width="150">Valor de Compra</th>
								      <th width="150">Valorização Anual</th>
								      <th width="150">Aluguel</th>
								    </tr>
								  </thead>
								  <tbody>
								  	<tr>
								      <td>Casa da Gi</td>
								      <td>410.000</td>
								      <td>234.000</td>
								      <td>20%</td>
								      <td>843,00</td>
								    </tr>
								    <tr>
								      <td>Apê do Leblon</td>
								      <td>1.300.230</td>
								      <td>1.234.230</td>
								      <td>11%</td>
								      <td>4.982</td>
								    </tr>
								    <tr>
								      <td>Minha Casa</td>
								      <td>1.000.000</td>
								      <td>982.990</td>
								      <td>5%</td>
								      <td>2.300</td>
								    </tr>
								    <tr>
								      <td>Kit do Pedrinho</td>
								      <td>290.000</td>
								      <td>143.000</td>
								      <td>47%</td>
								      <td>567</td>
								    </tr>
								    <tr style="background:#fdff4b;">
								      <td><b>Total</b></td>
								      <td><b>3.290.000</b></td>
								      <td><b>1.143.000</b></td>
								      <td><b>87%</b></td>
								      <td><b>44.900,00</b></td>
								    </tr>
								  </tbody>
								</table>
			  				</div>
						</div>

						
						<br>
			  			<div class="row">
			  				
			  				<div class="large-12 columns right">
			  					<div  id="chartLine_div_propertyValue" style="margin-left:-20px;"></div>
			  				</div>
			  			</div>

			  			<br><br>

			  			<div class="row">	
			  				<div class="large-12 columns">
				  				<div class="large-5 columns left" style="margin-top:-65px;margin-left:-80px;margin-bottom:-60px; ">
				  					<div id="chartPie_div_propertyValue"></div>
				  				</div>
				  				<div class="large-7 columns radius panel alert right" style="line-height:22pt;background:#fcfaf1;">
				  					<h5>Saiba mais</h5>
				  					<label>O seu patrimônio imobiliário total é de <b>R$ 1.123.432,00</b>. De todos seus imóveis, o que vale mais é o "Minha Casa". Ele representa 70% do valor total do seu patrimônio. Apesar disso, o imóvel que mais se valorizou no último mês foi o "Casa da Gi", gerando um lucro de mais de <b>R$35.000</b> apenas no último mês.</label>
				  				</div>
				  			</div>
			  			</div>

			  			<br>

			    </div>
			  </section>
			</div>
		</div>
	</div>

</div>
