<div id="myPropertyDetailPage" 	style="display:none;">

	<div class="row">
      <div class="large-12 columns">
        <h1>Apê do Leblon </h1> 
        <h4 class="subheader">Aqui você verá um resumo sobre essa propriedade específica.</h4> <h6 class="right"> Dados de mercado atualizado há 3 dias.</h6>
      </div>
    </div>
	
	<br>	
	
	<div class="row">
  		<div class="large-4 columns">
  			<div class="panel radius-border-button">
  				<label>Rendimento anual:</label>
  					<hr>
  					<h4 style="color:#1c8d22;"><i class="foundicon-up-arrow" style="position:relative;top:2px;"></i> 1,5%</h4>
  			</div>
  		</div>
  		<div class="large-4 columns">
  			<div class="panel radius-border-button">
  				<label>Valor do Imóvel:</label>
  				<hr>
  				<h4 style="color:#2ba6cb;">R$ 973.000,00 </h4>
  			</div>
  		</div>
  		<div class="large-4 columns">
  			<div class="panel radius-border-button">
  				<label>Valorização:</label>
  				<hr>
  				<h4 style="color:#c43e3e;">R$ - 43.900,00 </h4>
  			</div>
  		</div>
  	</div>
	
		<br>

		<div class="row">
			<div class="large-12 columns">
  			<div class="errorNotification messageNotification radius" style="padding:15px;">
				 <h3>Atenção!</h3>
				 <p>Esse imóvel já desvalorizou mais de 10% desde sua compra.</p>
			</div>
		</div>
		</div>

	<br>

		<br>
  	
  	<div class="row">
  		<div class="large-12 columns">
	  		<div class="panel radius">
	  			
	  			<div class="row">
		  			<div class="large-12 columns">
		  				<h4>Dados Imobiliários</h4>	
		  			</div>
		  		</div>
  				
  				<br>

					<div class="row">
	  				<div class="large-6 columns">
	  					<div class="radius panel alert" style="left:-15px;top:5px;text-aling:justify;line-height:22pt;background:#fcfaf1;">
		  					<div class="row">
		  						<div class="large-12 columns">
		  							<h5>Valores:</h5>
			  						<div style="padding:15px;">
			  							Valor de Compra: <b>423 m&sup2;</b><br>
				  						Data da Compra: <b>Maio de 2004</b><br>
				  						Está alugado: <b>Não</b><br>
				  					</div>

			  					</div>
			  				</div>
							<hr>
							<div class="row">
		  						<div class="large-12 columns">
		  							<h5>Estimativas:</h5>
			  						<div style="padding:15px;">
			  							Valor Atual &rarr; <b> R$ R$ 973.000,00</b><br>
				  						Valor de Aluguel &rarr; <b>R$ 873,00</b><br>
				  					</div>
			  					</div>
			  				</div>

	  					</div>
	  				</div>

	  				<div class="large-6 columns">
	  					<div class="radius panel alert" style="left:-15px;top:5px;text-aling:justify;line-height:22pt;background:#fcfaf1;">
		  					<div class="row">
		  						<div class="large-12 columns">
		  							
			  							Localização: <b>Rua Antonio Carlos Jobim, Leblon, Rio de Janeiro</b><br>
			  							<hr>
			  							Área Útil: <b>423 m&sup2;</b><br>
				  						Quartos: <b>4</b><br>
				  						Suítes: <b>2</b><br>
				  						Banheiros: <b>3</b><br>
				  						Garagem: <b>1</b><br>
				  					
								</div>
			  				</div>
			  			</div>
	  				</div>
	  			
				</div>
	  		</div>			  						
	  	</div>
	</div>


<br>

<br>

<div class="row">
		<div class="large-12 columns">
  		<div class="panel radius">
  			
  			<div class="row">
	  			<div class="large-12 columns">
	  				<h4>Valorização</h4>	
	  			</div>
	  		</div>
				
				<hr>

				<div class="row">
					<div class="large-12 columns">
  					<div  id="chartLine_div_myPropertyValue" style="margin-top:0px;height:400px;"></div>
  				</div>
  			</div>
  			<br>
  			<div class="row">
					<div class="large-2 columns">
  					&nbsp;
  				</div>

  				<div class="large-8 columns">
  					<div class="radius panel alert" style="left:-15px;top:5px;text-aling:justify;line-height:22pt;background:#fcfaf1;">
  						<div class="row">
  							<div class="large-7 columns" style="margin-top:15px;">
  								<h4>Valorização Anual: </h4>
  							</div>
  							<div class="large-5 columns">
  								<h2 style="color:#1c8d22;"><i class="foundicon-up-arrow" style="position:relative;top:2px;"></i> 14%</h2>
  							</div>
  						</div>
  						<hr>
  						<div class="row">
  							<div class="large-12 columns">
  								<h4>Valorização Mensal: </h4>
  							</div>
  						</div>
  						<div class="row">
  							<div class="large-7 columns" style="margin-top:15px;">
  								<form class="custom">
  								 <select id="customDropdown1">
								    <option>Abr 2013</option>
								    <option>Mar 2013</option>
								    <option>Fev 2013</option>
								    <option>Jan 2013</option>
								    <option>Dez 2012</option>
								    <option>Nov 2012</option>
								    <option>Out 2012</option>
								</select>
								</form>
  							</div>
  							<div class="large-5 columns">
  								<h2 style="color:#c43e3e;"><i class="foundicon-down-arrow" style="position:relative;top:2px;"></i> 0,4%</h2>
  							</div>
  						</div>
  					</div>
  					
  				</div>

  				<div class="large-2 columns">
  					
  				</div>
  			</div>


		</div>			  						
  	</div>
</div>

<br>

<div class="row">
		<div class="large-12 columns">
  		<div class="panel radius">
  			
  			<div class="row">
	  			<div class="large-12 columns">
	  				<h4>Alugar ou Vender?</h4>	
	  			</div>
	  		</div>
				
				<hr>

				<div class="row">
					<div class="large-6 columns">
  					<label>Comparação com outros investimentos do mercado:</label>
						<br>
  					<table>
					  <thead>
					    <tr>
					      <th width="200">Tipo</th>
					      <th width="150">Rendimento</th>
					      <th width="150">Volatilidade</th>
					    </tr>
					  </thead>
					  <tbody>
					  	<tr>
					      <td>Renda Fixa</td>
					      <td>16%</td>
					      <td>Alta</td>
					    </tr>
					    <tr style="background:#cfeef5;">
					      <td>Apê no leblon</td>
					      <td>14%</td>
					      <td>Alta</td>
					    </tr>
					    <tr>
					      <td>Renda Fixa</td>
					      <td>7%</td>
					      <td>Alta</td>
					    </tr>
					    <tr>
					      <td>Bovespa</td>
					      <td>8%</td>
					      <td>Alta</td>
					    </tr>
					  </tbody>
					</table>
	  				
  				</div>
  				<div class="large-5 columns radius panel alert left" style="line-height:22pt;background:#fcfaf1;margin-left:10px;">
  					<div class="row">
  						<div class="large-12 columns">
  							<h4>Dicas:</h4>
  							<label>De acordo com nossa análise, seu imóvel está rendendo menos que a maioria dos outros tipos de investimento. Se você enxerga esse patrimônio como um investimento, está na hora de começar a analisar outras oportunidades. </label>
  						</div>
  					</div>
				</div>
					
			</div>
		</div>			  						
  	</div>
</div>

<br>

<div class="row">
		<div class="large-12 columns">
  		<div class="panel radius">
  			
  			<div class="row">
	  			<div class="large-12 columns">
	  				<h4>Imóveis Semelhantes à Venda</h4>	
	  			</div>
	  		</div>
	  		
	  		<hr>
	  		
	  		<div class="row">
	  			<div class="large-12 columns">
	  			
			  			<div class="large-4 columns ">

			  				<div class="panel"> 
		  						<img src="{{ MEDIA_URL }}/media/meus_imoveis/images/house1.jpg" class="th radius" />

				  				<br><br>
				  				<label style="line-height:18pt;">
				  					Localização:<br><b>Avenida Vinicius de Moraes, Leblon, Rio de Janeiro</b>
				  					<hr>
				  					Preço: <b>R$ 3.290.912</b>
				  					<hr>
				  					<span style="background:#e0e0e0;">Quartos: 4</span>
				  					<br>
				  					<span style="background:#e0e0e0;">Suítes: 2</span>
				  					<br>
				  					<span style="background:#e0e0e0;">Banheiros: 3</span>
				  					<br>
				  					<span style="background:#e0e0e0;">Garagens: 1</span>
				  				</label>
			  				</div>
		  				</div>

		  				<div class="large-4 columns">

			  				<div class="panel"> 
		  						<img src="{{ MEDIA_URL }}/media/meus_imoveis/images/house2.jpg" class="th radius" />

				  				<br><br>
				  				<label style="line-height:18pt;">
				  					Localização:<br><b>Avenida Vinicius de Moraes, Leblon, Rio de Janeiro</b>
				  					<hr>
				  					Preço: <b>R$ 3.290.912</b>
				  					<hr>
				  					<span style="background:#e0e0e0;">Quartos: 4</span>
				  					<br>
				  					<span style="background:#e0e0e0;">Suítes: 2</span>
				  					<br>
				  					<span style="background:#e0e0e0;">Banheiros: 3</span>
				  					<br>
				  					<span style="background:#e0e0e0;">Garagens: 1</span>
				  				</label>
			  				</div>
		  				</div>

		  				<div class="large-4 columns ">

			  				<div class="panel"> 
		  						<img src="{{ MEDIA_URL }}/media/meus_imoveis/images/house3.jpg" class="th radius" />

				  				<br><br>
				  				<label style="line-height:18pt;">
				  					Localização:<br><b>Avenida Vinicius de Moraes, Leblon, Rio de Janeiro</b>
				  					<hr>
				  					Preço: <b>R$ 3.290.912</b>
				  					<hr>
				  					<span style="background:#e0e0e0;">Quartos: 4</span>
				  					<br>
				  					<span style="background:#e0e0e0;">Suítes: 2</span>
				  					<br>
				  					<span style="background:#e0e0e0;">Banheiros: 3</span>
				  					<br>
				  					<span style="background:#e0e0e0;">Garagens: 1</span>
				  				</label>
				  			</div>
		  				</div>
		  			</div>
				</div>
				<br>
				<div class="row">
					<div class="large-3 columns">
						&nbsp;
					</div>
					<div class="large-6 columns">
						<a href="" class="button success" style="margin-bottom: 0;">Clique aqui para pesquisar mais imóveis</a>
					</div>
					<div class="large-3 columns">
						&nbsp;
					</div>
				</div>
			<br>

				
		</div>			  						
  	</div>
</div>

</div>
