<footer class="row full-width hide-for-small">
  <div class="large-5 columns">
    <h6><strong>Urbanizo / Buscapé</strong></h6>
    <p>O Urbanizo auxilia o usuário a ter uma noção global dos preços que estaão sendo praticados na compra e venda de imóveis da sua cidade.</p>
    <p>A partir de uma varredura dos principais sites de venda de imóveis do Brasil, o Urbanizo calcula o valor do metro quadrado médio das principais cidades brasileiras e mostra uma lista de todos os imóveis disponiveis para venda de acordo com a área selecionada. </p>
  </div>

  <div class="large-3 columns">
    <h6><strong>Procurando Imóveis?</strong></h6>
    <p>Para pesquisar anúncios imobiliários, basta acessar o <a href="http://www.urbanizo.com">urbanizo.com &rarr;</a></p>
  </div>

  <div class="large-4 columns">
    <h6><strong>Precisando de Ajuda?</strong></h6>
    <p>Nos <a href="">envie uma mensagem</a> com suas dúvidas e sugestões.</p>
  </div>
</footer>