<p><a href="javascript:document.getElementById('myPropertyDetailPage').style.display='none';document.getElementById('step1').style.display='block';document.getElementById('step2').style.display='none';document.getElementById('controlPanel').style.display='none';document.getElementById('controlPanel').style.display='none';" class="button expand success" style="margin-bottom: 0;"><i class="foundicon-plus" style="position:relative;top:2px;"></i>&nbsp;&nbsp;Cadastrar seu Imóvel</a></p>

 <div class="docs section-container accordion" data-section data-options="one_up: false">
  <section class="section ">
    <p class="title"><a href="javascript:document.getElementById('myPropertyDetailPage').style.display='none';document.getElementById('step1').style.display='none';document.getElementById('step2').style.display='none';document.getElementById('step3').style.display='none';document.getElementById('controlPanel').style.display='block';"><i class="foundicon-website" style="position:relative;top:2px;"></i>&nbsp;&nbsp;<b>Painel de Controle</b></a></p>

  </section>
  <section class="section active">
    <p class="title"><a href="#"><i class="foundicon-home" style="position:relative;top:2px;"></i>&nbsp;&nbsp;<b>Meus Imóveis</b></a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="" href="#">Minha Casa</a></li>
        <li><a class="active" href="#">Casa da Gi</a></li>
        <li><a class="" href="#">Kit do Leo</a></li>
        <li><a class="" href="javascript:document.getElementById('myPropertyDetailPage').style.display='block';document.getElementById('step1').style.display='none';document.getElementById('step2').style.display='none';document.getElementById('step3').style.display='none';document.getElementById('controlPanel').style.display='none';">Apê do Leblon</a></li>
        <li><a class="" href="#">Morumbi</a></li>
      </ul>
    </div>
  </section>
  <!--
  <section class="section ">
    <p class="title"><a href="#"><i class="foundicon-compass" style="position:relative;top:2px;"></i>&nbsp;&nbsp;<b>Dados de Mercado</b></a></p>
  </section>
	-->
  <section class="section ">
    <p class="title"><a href="#"><i class="foundicon-idea" style="position:relative;top:2px;"></i>&nbsp;&nbsp;<b>Alertas</b></a></p>
  </section>
   <section class="section ">
    <p class="title"><a href="#"><i class="foundicon-graph" style="position:relative;top:2px;"></i>&nbsp;&nbsp;<b>Simuladores</b></a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="" href="#">Financiamento</a></li>
        <li><a class="" href="#">Seguro</a></li>
        <li><a class="" href="#">Aluguel</a></li>
      </ul>
    </div>
  </section>
  <section class="section ">
    <p class="title"><a href="#"><i class="foundicon-page" style="position:relative;top:2px;"></i>&nbsp;&nbsp;<b>FAQ</b></a></p>
  </section>
  <section class="section ">
    <p class="title"><a href="#"><b>Ajuda</b></a></p>
  </section>
</div>



<div class="jobs hide-for-small">
  <h5>Você sabia?</h5>
  <span style="color:#2ba6cb;">O Urbanizo tem a maior base imobiliária do Brasil.</span>
  <br><br>
  <span>São mais de 5 milhões de imóveis analisados diariamente.</span>
  <hr>
  <span style="color:#2ba6cb;">O Urbanizo é o primeiro site do mundo a realizar a análise do seu patrimônio imobiliário.</span>
  <br><br>
  <span></span>
  
</div>