<nav class="top-bar ">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="show-for-small menu-icon">
    	<a href="#menu" class="menu-link" style="position:relative;color:#fff;font-weight:bold;top:-5px;">Menu</a>
    </li>
    <li class="name">
      <h1 class="hide-for-small"><a href="my_properties_landing.html">urbanizo<span style="color:#ffd000;"> Meus Imóveis</span></a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li><a href="#"><i class="foundicon-tools" style="position:relative;line-height:10px;top:1px;"></i>&nbsp; Como Funciona</a></li>
      <li class="divider"></li>
      <li><a href="#" ><i class="foundicon-lock" style="position:relative;line-height:10px;top:1px;"></i>&nbsp; Ambiente Seguro</a></li>
      <li class="divider"></li>
      <li><a href="#"><i class="foundicon-search" style="position:relative;line-height:10px;top:1px;"> </i>&nbsp; Pesquisa de Anúncios</a></li>
      <li class="divider"></li>
      <li class="divider"></li>
      <li class="has-form">
        <a href="#" class="button">Sair</a>
      </li>
    </ul>
  </section>
</nav>